/*
pink: #F26A87
yellow: #B88C03
green: #4B751F
*/

/* Using Bright for now */
html, body {
    height: 100%;
}

body {
    font-family: 'Noto Serif', serif;
    color: black;
    margin: 0;
}

h1 {
    padding: 20px 50px 0px 50px;
    line-height: 1.6;
    font-size: 20px;
}

a {
    white-space: normal;
}

p {
    line-height: 1.6;
    font-size: 14px;
    width: 100%;
    padding-left: 50px;
    margin-top: 0px;
}

div {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.half {
    flex: 0 50%;
}

.left {
    flex: 0 50%;
    text-align: left;
    padding-left: 50px;
}

.right {
    flex: 0 100%;
    text-align: right;
    padding-right: 50px;
}

.body-link {
    color: #F26A87;
}

.press-link {
    color: #B88C03;
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 24px;
    }

    h1 {
        font-size: 34px;
    }

    .left {
        flex: 0 60%;
    }
  }